@media screen and (min-width:300px) and (max-width:1080px) {
.web_logo
{
width: 100%;
height:40px !important;
float: left; 
margin:7px 0px 2px 25px !important;
}
.btm_hdr
{
display: none;    
} 
.user_name_and_details
{
width: 100%;
height: auto;
float: left;
color: #fff;
font-size: 11px;
letter-spacing: 1px;
margin: 6px 0px;
}
.toggle-button
{
z-index: 111 !important;    
top:18px !important;    
}   
.respad
{
padding:0px 0px 0px 0px !important;    
}
.mobpad
{
padding:0px 0px 0px 0px !important;    
}
.contentbx_img_off
{
width: auto;
height: auto;
float: left;
font-size: 9px;
background-color: green;
color: #fff;
letter-spacing: 1px;
padding: 3px 5px;
border-radius: 6px;
margin:13px 0px 0px 22px !important;    
}
.menu-wrap
{
z-index: 111 !important;    
}
.item_add_to_cart_sec {
width: 90% !important;
height: auto !important;
float: left !important;
padding: 10px 12px !important;
bottom: 115px !important;
margin: 0px 5% 0px 5% !important;
}
.wishlist_added_infosec
{
width: 90% !important;
height: auto !important;
float: left !important;
padding:11px 13px !important; 
top: 100px !important;
margin: 0px 5% !important;
}
.item_added
{
margin:0px !important;    
}
.dellivery_location_select {
width: auto !important;
height: auto;
margin: 12px 0px 0px 0px !important;
/* display: none; */
position: absolute;
float: right;
right: -100%;
bottom: 67px;
}
.delivery_pincodesec {
width:130px;
height: auto;
float: right;
margin: 0px 0px 0px 0px;
box-shadow: 4px 4px 5px #f8f8f8;
background-color: #f8f8f8;
padding:4px 7px;
font-size: 11px;
font-weight: 300;
letter-spacing: 0.8px;
position: absolute;
right: -100%;
bottom:60px;
}
.header {
position: fixed;
z-index: 111 !important;
}
.loading
{
right:15%;    
}
.delivery_pincodesec a span {
font-size: 8px !important;
margin: 0px 5px 0px 0px;
}
.delivery_pincodesec a span:hover
{
text-decoration:none;    
}
.delivery_pincodesec_add
{
width: 85% !important;
height: auto !important;
float: left !important;
color: #000 !important;
letter-spacing: 0.7px;
font-size: 9px;    
}

.web_res_logo 
{
width:95%;
height: 40px;
float: left;
background-image:url(../images/jbj-new-logo.png);
background-repeat: no-repeat;
background-size: 68%;
background-position: right;
margin: 15px 0px;
}
.usermenus {
width: 270px !important;
height: auto;
float: left;
margin: 10px 0px 0px -65px !important;
padding: 5px 10px 20px 10px;
}
.recent_purchase_hdtxt {
width: 100%;
height: auto;
float: left;
font-size: 12px !important;
font-weight: 800;
color: #000;
letter-spacing: 0.8px;
margin: 0px 0px 5px 0px !important;
}
.recent_purchase_img {
width: 25%;
height: auto;
float: left;
margin: 0px 6px 0px 0px !important;
}
.arrow-up
{
left: 28% !important;    
}
.button-open {
top: 20px !important;
position: fixed;
z-index: 1111 !important;
}
.accordion
{
width:100% !important;
height:auto;
float: left;
margin: 0px !important;;
padding: 0px !important;;    
}
.accordion li
{
width:100% !important;
height:auto;
float: left;
margin: 0px !important;
padding: 0px !important;; 
list-style: none !important;   
}
.submenu
{
background-color: #efefef !important;  
padding:0px !important;
}
.mainNav ul li a:hover
{
background-color:transparent !important; 
}
.dellivery_location_select a 
{
background-color: #371F21;
padding: 7px 6px;
border-radius: 5px;
color: #FFF;
font-size:9px;
letter-spacing:1px;
font-weight: 300;
}
.top_selling_native_taste
{
margin:0px !important;    
}
.dellivery_location_select img {
height: 12px;
margin: 0px 0px 0px 0px;
position: relative;
top: -2px;
}
.dellivery_location_select i 
{
color: #fff;
font-size: 13px;
margin: 0px 0px 0px 0px;
}
.search_icon i 
{
margin:-40px 0px 0px 0px !important;
font-size: 15px;
background-color: #371F21;
color: #fff;
padding: 12px;
border-radius: 0px 4px 4px 0px;
}
.user_log_details div.usermenu_sec span {
float: left;
width: 100% !important;
letter-spacing: 0.9px !important;
font-size: 8px !important;
text-align: center !important;
}
.user_greetingtxt i {
width: 100% !important;
height: auto;
float: left;
font-size: 13px;
padding: 3px 0px;
margin: 0px 3px 0px 0px;
text-align: center;
}
.user_greetingtxt
{
font-size: 7px !important;  
text-align: center !important;
padding:0px !important;
}
.search_icon {
width: auto;
height: auto;
float: right;
text-align: right;
position: relative;
right: 1px;
top: 0px;
}
.mid_menu 
{
width: 100%;
height: auto;
float: left;
padding:4px 0px 0px 0px;
z-index: 1111;
}
.web_inx_banner
{
margin:160px 0px 30px 0px !important;    
}
ul.slider-img li img
{
width: 100%;
height: 100%;
object-fit: cover;    
}
.banner_btm_sec 
{
width: 100% !important;
height: auto !important;
float: left;
padding:0px !important;
}
.banner_btm_sec2 {
width: 100%;
height: auto !important;
float: left !important;
background-image:none !important;
background-repeat: no-repeat !important;
background-position: center !important;
padding: 30px 0px !important;
background-color: #371F21 !important;
margin: 0px 0px 20px 0px !important;
}
.overlaytxt
{
width: 78% !important;
letter-spacing: 1px !important;
font-size: 10px !important;
}
.top_selling_hdtxt {
width: 100%;
height: auto;
float: left;
font-size:28px !important;
font-weight: 800;
font-family: 'Cookie';
letter-spacing: 4px;
color: #4A1213;
line-height: 44px;
}
.product_titletxt {
width: 100%;
height: auto;
float: left;
font-size: 22px;
letter-spacing: 1.5px;
font-weight: 800;
margin: -35px 0px 0px 0px;
}
.product_nametxt
{
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
display: flex;
justify-content: left;    
font-size: 14px !important;    
}
.respad
{
padding:0px !important;    
}
.side_tabimg 
{
display: none;    
}
.savories_product_list ul li
{
width:45% !important;
height: auto;
float: left;
list-style: none;
margin: 12px 2.5% 40px 2.5% !important;
}
.swet_product_img, .swet_product_img2, .swet_product_img3, .swet_product_img4, .swet_product_img5, .swet_product_img6, .swet_product_img7, .swet_product_img8, .sav_product_img, .sav_product_img2, .sav_product_img3, .sav_product_img4, .sav_product_img5, .sav_product_img6, .sav_product_img7, .sav_product_img8
{
width: 100%;
height: 120px !important;
float: left;    
}
.our_productsimg1, .our_productsimg2, .our_productsimg3, .our_productsimg4 
{
width: 100%;
height: 150px !important;
float: left;
}
.underline_hd {
background-size: 40% !important;
}

.upwardmenu {
display: block;
padding: 0px;
margin: 0px;
text-align: center;
}
.upwardmenu ul{
list-style-type: none;
margin: 0px;
padding: 0px;
}
.upwardmenu li {
display: inline-block;
position: relative;
cursor: pointer;
}
.upwardmenu .sub-menu li a{
display: block;
text-decoration: none;
font-size:12px;
color:#fff;
font-weight:400;
letter-spacing:0.5px;
text-align:left;
}

.upwardmenu li:hover {
background-color: #ABB7B7;
}
.upwardmenu li:hover .sub-menu {
max-height: 300px;
/*visibility: visible;*/
bottom: 100%;
transition: all 0.4s linear;
color: #000;
}
.upwardmenu .sub-menu {
display: block;
visibility: hidden;
position: absolute;
left: -100px;
box-shadow: none;
max-height: 0;
overflow: hidden;
background-color:#DF3338;
width: 190px;
padding: 10px 10px;
}
.submenu {
  display: none;
}
.upwardmenu .sub-menu li {
width:100%;
height:auto;
float:left;
display: block;
padding: 0px 10px !important;
}
#mainBtn{
color: #fff;
}
.bottom:before {
content: '';
border-top: 20px solid #DF3338;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
}


.off_percentage {
color: #fff !important;
width: auto;
float: right !important;
font-size: 10px;
letter-spacing: 0.5px;
background-color: #DF3338;
padding: 5px 6px 3px 6px;
position: absolute;
border-radius: 5px;
margin: 6px 8px 0px 8%;
}
.raof_addtocart_btn {
width: 100%;
height: auto;
float: left;
font-size: 12px;
font-weight: 800;
color: #388E3C;
text-align: center;
letter-spacing: 1px;
margin: 18px 0px 18px 0px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
font-size: 8px !important;
}
/*.jbj_mobileview_bottomnav
{
width: 100%;
height: auto;
float: left;
display: block;
position: fixed;
bottom: 0px;
z-index: 111;
background-color:#FEBD69;
}
.jbj_mobileview_bottomnav ul
{
width:100%;
height:auto;
float:left;
padding:0px;
margin:0px;
}
.jbj_mobileview_bottomnav ul li
{
width:25%;
height:auto;
float:left;
padding:0px;
margin:0px;
text-align:center;
list-style:none;
}
.jbj_mobileview_bottomnav ul li a
{
color: #DF3338;
padding: 0px 32px;
font-size:25px;
}
.jbj_mobileview_bottomnav ul li:hover, .jbj_mobileview_bottomnav ul li:focus
{

}*/
.jbj_mobileview_bottomnav ul li span
{
width: 25px;
height: 25px;
border-radius: 50%;
text-align: center;
padding: 4px 0px !important;
letter-spacing: 0.8px;
position: absolute;
font-size: 10px;
font-weight: 300;
top: 7px;
margin: 0px 0px 0px -5px !important;
border: 2px solid #bd292d;
}

.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu
{
position: absolute;
top: -257% !important;
z-index: 11;
background-color: #bd292d;
width: 160px;
right: 1%;
padding: 0px;
display:none;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li {
width: 100%;
height: auto;
float: left;
padding: 0;
text-align: left;
line-height: 32px;
padding: 2.5px 10px;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li:hover, .jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li:focus
{
background-color:#bd292d !important;   
cursor:pointer;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li a
{
font-size: 12px;
font-weight: 400;
color: #fff;
letter-spacing: 1px;  
padding: 0;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li a:hover
{
text-decoration:none;    
}
.delivery_add_cartbag div.inclusive_of_alltaxes {
width: auto !important;
height: auto !important;
float: inherit !important;
}
.delivery_add_cartbag div.proceed_to_buy
{
margin:0px !important; 
padding-bottom: 0 !important;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li a
{
font-size: 12px;
font-weight: 400;
color: #fff;
letter-spacing: 1px;  
padding: 0;
}
.jbj_mobileview_bottomnav ul ul.mobile_bottom_submenu li a:hover
{
text-decoration:none;    
}
.delivery_add_cartbag div.inclusive_of_alltaxes {
width: auto !important;
height: auto !important;
float: inherit !important;
}
/* Login and Signup Responsive */
.index_loginbx_forms {
width: 90% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
background-color: #fff;
position: fixed;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}
.signup_hdr, .sell_pro_testimonial
{
display:none;    
}
.form_btn_sec {
width: 100%;
height: auto;
float: left;
margin: 38px 0px 0px 0px !important;
text-align: center;
}
/* Login and Signup Responsive end */

/* Responsive Menu */
.ec{position:relative;}
.ec .ec__holder{overflow:hidden;}
.ec .ec__track{will-change:transform;}
.ec .ec__track:after{content:'';display:table;clear:both;}
.ec .ec__item{float:left;overflow:hidden;}
.ec .ec__pagination{text-align:center;margin-top:10px;}
.ec .ec__pagination .pagination__dot{width:8px;height:8px;background-color:transparent;display:inline-block;border:1px solid #000;margin:0 5px;border-radius:50%;cursor:pointer;}
.ec .ec__pagination .pagination__dot--active{background-color:#000;}
.ec .ec__nav{
position:absolute;
top:50%;
border-top: 2px solid #000;
border-right: 2px solid #000;
width: 15px;
height: 15px;
cursor:pointer;
    
}
.ec .ec__nav:before{content:'';}
.ec .ec__nav--prev{transform:rotate(-135deg);left:0em;}
.ec .ec__nav--next{transform:rotate(45deg);right:0em;}

#carousel-tilenav
{
display:none;    
}
i.slick-prev { left: -3%; }
i.slick-next { right: -3%; }
i.slick-arrow { width: 40px; height: 40px; line-height: 40px; font-size: 20px; text-align: center; border-radius: 100%; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 2; color:#DF3338; overflow-x: visible !important;}
i.slick-arrow:hover { color:#bd292d;}



/*CAROUSEL COM ÃCONES*/
.icones {padding:10px;}
.icones h1 { text-align: center; font-family: monospace; padding-top: 20px; padding-bottom: 20px;}
.icones .icones-carousel .item {text-align: center; padding:0px 18px 0px 0px;  margin-left: 2px; margin-right: 2px; }
.icones .icones-carousel .item i { font-size: 50px; color: #9571e9; margin-top: 20px;}
.icones .icones-carousel .item h2 { font-size: 15px; padding-top: 20px; font-family: monospace; }

@media (max-width: 768px) 
{
i.slick-prev { left: -8%; }
i.slick-next { right: -8%; }
.icones .icones-carousel .item { margin-left: 10px; margin-right: 10px;}
}
.mrp_price
{
font-size: 10px !important;    
}
.sellprice
{
font-size: 10px !important;    
}
/*Responsive Menu End */




/* Signup */
.sell_pro_testimonial
{
display:none;    
}
/* signup end */





/* Login */
.login_contain_sec 
{
width: 100%;
height: auto;
float: left;
margin:200px 0px 0px 0px;
}
.index_popup_forms {
width: 100%;
height: auto;
float: left;
padding: 25px 30px 30px 30px;
margin: 0px;
}
.forget_pw_otp input
{
width: 75% !important;
height: auto;
float: left;
margin: 0px 12.5% 10px 12.5% !important;
font-size: 30px !important;
letter-spacing: 16px !important;
color: #111 !important;
text-align: center !important;
padding: 5px 15px !important;
}
.popup_field input
{
font-size:12px !important;    
}
/* Login end */

/* productlist */
.productlist_contain 
{
width: 95% !important;
height: auto !important;;
float: left !important;;
margin: 214px 2.5% 0px 2.5% !important;
}
#productlist_accordion
{
width: 80% !important;
height: auto;
float: right;
list-style: none;
margin: 0px 10% !important;	
}
.product_list_linkhome 
{
width: 94% !important;
margin: 12px 0px 12px 7% !important;
font-size: 11px !important;
color: #333 !important;
}
.listproduct_name, .mrp, .price, .off {
font-size: 9px !important;
color: #111 !important;
margin: 0px 0px 0px 0px !important;
}
#container .grid li {
float: left !important;
width: 50% !important;
height: auto;
margin: 0px !important;
}
.overlaytxt {
width: 82% !important;
}
.sav_product_img8 a
{
font-size: 10px !important;    
}
.product_img1, .product_img2, .product_img3, .product_img4, .product_img5, .product_img6, .product_img7, .product_img8 {
height: 130px !important;
}
.allrights
{
font-size:9px !important;    
}
.foot_custom_contain {
width: 98%;
height: auto;
float: left;
margin: 0px 2%;
}
/* productlist end */
.newstxtbox
{
width: 68% !important;
height: auto;
float: left;
padding: 8px 10px;
border: 1px solid #fff;
background-color: #fff;
outline: none;
color: #111 !important;
margin: 0px 2px !important;   
}
.foot_social_icons ul li {
list-style: none;
float: left;
margin: 0px 2px !important;
}
.subtn
{
padding: 8px 10px 7px 10px !important;    
}
.respad
{
padding:0px !important;    
}
.signup_newlr {
width: 100%;
height: auto;
float: left;
font-size: 8px !important;
color: #facc6b;
letter-spacing: 0.8px;
font-weight: 800;
padding: 4px 0px !important;
}
.quicklinks_hdtxt
{
font-size: 11px !important;
text-align: left !important;
}
.desktopview
{
display:none !important;    
}
.jbj_mobileview
{
display:block !important;     
width: 100%;
height: auto;
float: left;
margin:120px 0px 80px 0px !important;
}
.pro_item_catbx_img img {
width: 100% !important;
height: 90px !important;
margin: 0px auto !important;
padding: 12px !important;
}
.pro_item_catbx_img {
width: 100%;
height: 95px;
float: left;
background-image: url(../images/offbg.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 5px;
}
.responsive_pro_cate_hdtxt
{
width:100%;
height:auto;
float:left;
font-size:12px;
color:#000;
font-weight:bold;
letter-spacing:0.5px;
margin:5px 0px 0px 0px;
padding:0px 15px;
}
.responsive_pro_cate_hdtxt a
{
font-size: 11px;
color: green;
font-weight: 300;
letter-spacing: 0.8px;
float: right;
padding: 3px 0px;   
}
.responsive_pro_cate_hdtxt span
{
margin:0px 0px 0px 10px;    
}

/* Today Off */
.tooffimg
{
width: 100%;
height:90px !important;    
float: left;
background-color: #f1f1f1;
margin: 0px 0px 0px 0px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
outline: none !important;
}    
.tooffimg img {
max-width: 100% !important;
max-height: 100% !important;
margin: 0 auto !important;
outline: none !important;
padding:3px !important;
}
/* Today Off end */

.news_letter_bg, .quicklinks, .quicklinks_hdtxt, .footer img, .payment_mode_list, .foot_social_icons
{
display:none !important;    
}
.footer
{
border:none !important;    
padding: 0px 0px 0px 0px !important;
}
.mid_header_right {
width: 100%;
height: auto;
float: left;
display: none !important;
}
.modal-dialog {
    margin: 0px 0px !important;
    padding: 0px 15px !important;
}
.floating-wpp
{
bottom: 10px !important;    
}
.accordion .link {
font-size: 13px !important;
letter-spacing: 1px !important;
font-weight: 300 !important;
}
.accordion .link a
{
color:#000;    
}
.accordion .link a:hover
{
text-decoration:none;    
}
.accordion li i.fa-chevron-down {
right: 18px;
left: auto;
font-size: 14px !important;
top:13px !important;
}
.mainNav ul li span
{
top: -6px !important;    
}
.mainNav ul ul {
border-bottom: none !important;
background-color: #f9f9f9 !important;
width: 100% !important;
height: auto !important;
float: left !important;
}
.mainNav ul ul li a {
color: #555 !important;
display: block;
font-size: 13px !important;
font-weight: 400 !important;
line-height: normal;
padding: 0.5em 1em 0.5em 2.5em;
letter-spacing: 0.5px !important;
}
.resp_user_greetingtxt span {
color: #d5d4d4 !important;
width: 100% !important;
height: auto !important;
float: left !important;
}
.delivery_location_hdtxt
{
font-size: 13px !important;    
}
.sidebarMenu_user_details_content {
width: 100%;
height: auto;
float: left;
margin: 0px 0px 0px 0px !important;
}
.loading {
background-image: url(../images/loading-78.gif);
background-size: contain;
width: auto;
background-position: right center;
background-repeat: no-repeat;
padding: 9px 30px 9px 15px;
height: 50px;
z-index: 111;
position: absolute;
right: 14%;
top: -5px;
}
.qty-container .qty-btn-minus, .qty-container .qty-btn-plus
{
color:#000 !important;    
}
.jbj_shopping {
width: 100%;
height: auto;
float: left;
margin:120px 0px 0px 0px !important;
}
.productlist_displaysec
{
padding:0px !important;    
}
.product_sort_frm {
width: 100% !important;
height: auto !important;
float: right !important;
position: relative !important;
top: 0px !important;
margin: 0px 0px 10px 0px !important;
}
.product_sort_frm form
{
width: 100%;
height: auto;
float: left;
}
.product_sort_frm select {
width: 86px !important;
margin: 0px 0px 0px 5px !important;
float: right !important;
padding: 4px 0px !important;
font-size: 11px !important;
border-radius: 5px;
}
.pro_sortlist {
width: 100%;
height: auto;
float: left;
display: none;
}
#products_sortby {
display: block !important;
}
.pro_nametxt {
width: auto !important;
height: auto !important;
float: left !important;
font-size:12px !important;
color: #000 !important;
letter-spacing: 1px !important;
padding: 4px 0px !important;
}
.pro_displaysec_list ul li
{
width: 48% !important;
height:310px !important;
float: left !important;    
}
.productlist_displaysecbx {
width: 100%;
height: auto;
float: left;
padding:7px !important;
border-right: 0 !important; 
border-left: 0 !important;
}
.productlist_displaysec_bximg {
width: 100% !important;
height: 150px !important;
float: left;
}
.productlist_displaysec_bximg img {
max-width: 100%;
max-height: 100% !important;
margin: 0 auto !important;
padding:4px !important;
}
.off_percentage
{
font-size: 8px !important; 
margin:0px !important;
}
.bx_pro_imgprice select
{
width: 95px !important;
height: auto !important;
float: left !important;
margin: 5px 0px 0px 0px !important;
}
.shop_list_addbtn a
{
font-size:10px !important;    
}
.bx_pro_imgprice select
{
width: 85px !important;    
font-size: 9px !important;    
}
.cart_show {
    width: 100% !important;
    display: block;
    height: auto;
    float: left;
}
.pro_uom_detail_list {
width: 100% !important;
height: auto;
float: left;
}
.pro_notify_me a
{
padding: 8px 18px !important;    
}
.productlist_displaysecbx div.outof_stock_btn a {
padding: 3px 5px !important;
font-size: 9px !important;
}
.productlist_displaysecbx div.notifyme_btn {
float: right !important;
margin: 10px 0px 0px 0px !important;
}
.productlist_displaysecbx div.notifyme_btn a {
font-size: 8px !important;
padding: 5px 8px !important;
}
.responsive_btns
{
width: 100%;
height: auto;
float: left;  
margin:2px 0px 0px 0px;
display:none;
}
.responsive_btns a
{
float:left;    
font-size:9px;
color: #fff;
background-color: #371F21;
letter-spacing: 0.2px;
border: 1px solid #371F21;
border-radius: 5px;
padding: 4px 12px;
margin: 0px 0px 0px 0px;
}
.responsive_btns a:hover, .responsive_btns a:focus
{
background-color:transparent;
color:#371F21;
text-decoration:none;
}
.respon_notify
{
float:right !important;    
}
.bx_pro_imgprice span
{
font-size: 12px !important;    
}
.itemdetail_headtxt
{
width:55% !important;
float: left !important;
height: auto !important;
}
.bx_pro_imgname
{
width:100%;
height:32px !important;
float: left;
font-size:11px;
color:#000;
letter-spacing:0.7px; 
max-height: 4.2em;
overflow: hidden;
max-width: 100%;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
text-overflow: ellipsis;
justify-content: left;
align-items: top;
}
/* wishlist */
.cart_list_container {
width: 100%;
height: auto;
float: left;
margin: 112px 0px 0px 0px !important;
}
.singleprice_headtxt {
width:22% !important;
font-size: 9px !important;
}
.subtotalprice_headtxt
{
width: 23%;
float: left;
height: auto;    
font-size: 11px !important;    
}
.itemimg
{
width: 25% !important;
height: auto;
float: left;
margin: 0px 5px 0px 0px !important;
display: flex;
align-items: center;
justify-content: center;    
}
.itemimg img {
width:auto !important;
height: 50px !important;
border:none !important;
float: left;
}
.item_detail_right {
width: 72% !important;
height: auto;
float: left;
}
.deli_infotxt
{
display:none !important;    
}
.singleprice_headtxt span.sellprice
{
font-size: 9px !important;
margin:0px !important;
}
.totalprice_headtxt
{
width: auto !important;
float: right !important;   
}
.place_order {
padding: 8px 9px !important;
font-size: 10px !important;
}
.final_place_order {
width: 100%;
float: left !important;
text-align: right !important;
}
.product_delivery_add {
width: 100% !important;
height: auto !important;
float: left !important;
margin: 68px 0px 30px 0px !important;
}
.totalprice_headtxt span {
color: #111 !important;
font-weight: 800 !important;
font-size: 10px !important;
}
.totalprice_headtxt span i {
font-size: 8px !important;
font-weight: 300 !important;
}
.sellprice i {
font-size: 8px !important;
font-weight: 300 !important;
}
.order_item_bdy_hdtxt
{
font-size:9px !important;    
}
.shopcart_items {
float: left;
font-size: 12px !important;
color: #555;
}
.mycart
{
font-size: 11px !important;
letter-spacing: 0.5px !important;    
}
.pagination {
width: 100% !important;
height: auto;
float: left;
position: relative !important;
left: 0% !important;
}
/*wishlist end */
.prolist div.jbj_mobileview
{
margin:0px !important;    
}
.privacyploicy
{
position: fixed;
bottom: 0px;
left: 0px;
right: 0px;
margin-bottom: 0px;
z-index: 11;
}
.pagination>li>a, .pagination>li>span
{
padding: 6px 6px !important;    
}
.pro_paginate
{
margin: 22px 0px 0px 0px;    
}
.add_delivery_address_btn button {
background-color: transparent;
border: 1px solid green;
border-radius: 5px;
color: green;
font-size: 8px;
letter-spacing: 0.8px;
font-weight: 400;
padding: 5px 4px !important;
float: right;
top: -6px !important;
position: relative;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
width: 89px;
margin: 18px 0px 0px 0px;
}


/* Cart */
.wrp {
width: 100%;
height: auto;
float: left;
margin:100px 0px 20px 0px !important;
}
.leftside {
border: none !important;
margin: 0 !important;
padding:15px 10px 10px 10px !important;
}
.myorder {
width: 100%;
padding-bottom: 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
color: #b20101;
font-weight: 700;
font-size: 16px !important;
}
.assnew_address {
width: 100%;
margin: 15px 0px 6px 0px !important;
font-size: 14px;
font-weight: 700;
color: #111;
}
.customer_order {
width: 100%;
height: auto;
float: left;
margin:0px 0px 14px 0px !important;
}
.myacc_list {
width: 100% !important;
border-bottom: none !important;
}
.myacctxt {
font-size: 16px !important;
color: #111;
font-weight: bold !important;
}
.myacc_list ul li {
list-style: none;
padding-left: 0px;
line-height: 30px;
width:50% !important;
float: left;
}
#errorhandle {
width: 80% !important;
height: auto;
float: left;
padding: 13px 14px 17px 14px !important;
background-color: #E90410;
border-radius: 8px;
position: fixed;
top: 125px;
margin: 0px 10% !important;
z-index: 11;
display: none;
}
.ajaxerror {
font-size: 12px;
letter-spacing: 0.5px;
color: #fff;
padding: 1px 0px;
}
.final_amt_txt_label {
font-size: 12px !important;
font-weight: 700;
width: 100%;
height: auto;
float: left;
margin: 0px;
padding: 0px;
}
.final_amt_txt
{
font-size: 12px !important;    
}
.itemremove_cartbtn {
width: auto;
height: auto;
float: left;
margin: 5px 0px 10px 0px;
}
.itemremove_cartbtn
{
width:auto;
height:auto;
float:left; 
margin:14px 0px 0px 0px !important;
}
.totalprice_headtxt span i {
font-size: 9px !important;
font-weight: 300 !important;
}
.subtotalprice_headtxt
{
font-size:10px !important;    
}
.itemremove_cartbtn a
{
font-size:10px;
font-weight:400;
letter-spacing:0.8px;
color:#fff;
background-color:red;
border:1px solid red;
padding:4px 4px;
border-radius:5px;
}
.itemremove_cartbtn a:hover, .itemremove_cartbtn a:focus
{
background-color:transparent;  
color:red;
text-decoration:none;
}
/* Cart End */

/* Delivery */
.address_book ul li {
height: 185px !important;
}
.billing_add_area {
width: 100%;
height: auto;
float: left;
margin:40px 0px 50px 0px !important;
}
.billing_addbx ul li {
width:48% !important;
height:auto !important;
max-height: 400px;
float: left;
padding: 15px 12px !important;
border: 1px dashed #ccc;
border-radius: 8px;
list-style: none;
margin: 0px 1% 2% 1% !important;
font-size: 9px !important;
line-height: 10px !important;
letter-spacing: 0.1px !important;
font-weight: 300;
color: #000;
display: inherit !important;
flex-wrap: inherit !important;
align-content: center !important;
}
.singleprice_headtxt i
{
font-weight: 300 !important;
font-size:8px !important;    
}
.totalprice_headtxt
{
font-weight: 300 !important;
font-size:8px !important;    
}
.add_display_subtxt
{
font-size: 9px !important;
line-height: 10px !important;   
}
.promo_code input {
width: 100% !important;
height: auto !important;
float: left !important;
}
.promo_code button
{
font-size:10px !important;    
margin: 10px 0px 0px 0px !important;    
}
.add_delivery_address_btn a
{
padding: 3px 3px !important;    
font-size: 9px !important;    
}
.billing_addbx ul li p i {
float: right;
font-size: 10px !important;
position: relative;
top: 0px;
color: red;
}
.add_addressbx a {
width: 100%;
height: auto;
float: left;
text-align: center;
font-size: 12px !important;
padding:70px 0px !important;
}
.add_addressbx a p
{
font-size: 12px !important; 
margin: 0px 0px 9px 0px !important;    
}
.new_address_form_bdy
{
width:100%;
height:auto;
float:left;
overflow: hidden auto;
max-height:480px;
}
.default_add {
width: auto;
height: auto;
float: right;
position: relative;
right: 0px;
margin:18px 0px 0px 0px !important;
}
.add_delivery_address_btn {
    width: 100%;
    height: auto;
    float: left;
    margin: 15px 0px 10px 0px !important;
}
.rightnopad {
padding: 0px 0px 0px 0px !important;
}
.leftnopad {
padding: 0px 0px 0px 0px !important;
}
.proceed_to_buy
{
padding:15px 12px !important; 
margin: 0px 0px 30px 0px;
}
.add_new_address_form
{
width:95% !important;    
}
#add_new_address
{
padding:0px !important;    
}
#add_new_address div.modal-body
{
padding:10px !important;    
}
.use_thisadd_btn {
width: 100%;
height: auto;
float: left;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-align: right !important;
position: relative !important;
right: 8px !important;
}
.use_thisadd_btn input
{
background-color: #EE1C25;
border: 1px solid #EE1C25;
color: #fff;
font-size: 10px !important;
font-weight: 300;
letter-spacing: 1px;
padding: 8px 8px !important;
margin: 0px 5px 0px 0px;
border-radius: 4px;    
}
.respad
{
padding:0px !important;    
}
.address_field_label
{
font-size:10px !important;    
}
/* Delivery End */

/* Order Review */
.payment_page {
width: 100%;
height: auto;
float: left;
margin: 130px 0px 30px 0px !important;
}
.payment_page div.container
{
padding:0px  !important;    
}
.review_order_subtxt
{
font-size: 10px !important;    
}
.payment_method_hdtxt {
width: 100%;
height: auto;
float: left;
font-size: 14px;
font-weight: bold;
letter-spacing: 0.8px;
color: #000;
margin: 0px 0px 5px 0px;
}
.order_summary_orderlist {
width: 100%;
height: auto;
float: left;
margin: 0px 0px 0px 0px;
border-bottom: 1px solid #f7f7f7;
padding: 0px 10px 10px 10px;
}
.order_item_img2
{
height: 45px !important;    
}
.norespad
{
padding:0px !important;    
}
#payment_form
{
width: 100%;
height: auto;
float: left;
padding:0px 0px 0px 0px;
}    
.order_address_field {
width: 100% !important;
height: 68px !important;
float: left !important;
}
.order_item_bdy {
width: 100%;
height: auto;
float: left;
padding: 10px 0px !important;
}
.order_review_shipadd_hdtxt
{
font-size: 10px !important;    
}
/* Order Review End */

/* Payment Confirmation */
.payment_confirmation {
width: 100%;
height: auto;
float: left;
margin: 130px 0px 30px 0px !important;
}
.payment_confirmation div.container
{
padding:0px !important;    
}
.choose_addhdtxt {
width: 100% !important;
height: auto !important;
float: left !important;
color: #000 !important;
font-size: 20px !important;
font-weight: 300;
letter-spacing: 0.3px !important;
margin: 0px 0px 5px 0px !important;
}
.choose_addsubtxt {
width: 100%;
height: auto;
float: left;
color: #000;
font-size: 10px !important;
font-weight: 300 !important;
letter-spacing: 0.8px !important;
margin: 0px 0px 15px 0px !important;
}
.order_summary_orderlist span.sellprice
{
margin: 0px 0px 0px 0px !important;
width: auto !important;   
}
.order_summary_orderlist div.mrp_price
{
margin: 0px 0px 0px 6px !important;
width: auto !important;   
padding: 0px !important;
}
.accordion-title:after
{
right: 9px !important;    
}
.payment_method_hdtxt
{
font-size: 15px !important;    
}
.payment_method
{
padding: 0px 15px !important;    
}
.payment_mode_opts ul li {
list-style: none !important;
float: left !important;
width: 45% !important;
height: auto !important;
border: 1px dashed #eee !important;
margin: 0px 10px 0px 0px !important;
padding: 10px !important;
}
.payment_mode_opts ul li img {
width: 100% !important;
height: 50px !important;
float: left !important;
}
.order_item_cashon_delivery form
{
margin:0px !important;
padding:0px !important;    
}
.order_item_cashon_delivery {
width: 100%;
height: auto;
float: left;
padding: 2px 0px !important;
border-radius: 5px !important;
margin: 5px 0px 20px 0px !important;
}
/* Payment Confirmation end */


/* Order */
.order_hdr {
    width: 100%;
    height: auto;
    float: left;
    margin: 0px 0px 20px 0px !important;
}
.show_more_order_details a
{
font-size: 10px !important;    
}
.order_list_bdy {
width: 100%;
height: auto;
float: left;
margin: 135px 0px 30px 0px !important;
}
.order_search_form input
{
width:220px !important;
height: auto;
float: left;
padding: 7px 8px 7px 10px;
border: 1px solid #ccc;
position: initial !important;
font-size: 11px;
letter-spacing: 0.8px;
}
.order_search_form a
{
width:auto !important;
height: auto !important;
float: left !important;    
font-size: 10px !important;
padding: 8px 12px !important;
position: initial !important;
}
.order_search_form i {
display:none !important;
}
.ordered_items_hdr ul li
{
margin: 0px 10px 0px 0px !important;    
}
.order_shorted {
width: 100%;
height: auto;
float: left;
margin: 0px 0px !important;
}
.ordered_items_hdr ul li a
{
font-size: 9px !important;    
}
.order_shorted_sec label
{
font-size:11px !important;    
}
.order_shorted_sec form select
{
font-size: 10px !important;
letter-spacing: 0.8px !important;    
}
.order_placed_date
{
width:50% !important;
height: auto !important;
float: left !important;    
}
.order_product_price
{
width: 50% !important;
height: auto !important;
float: left !important;
font-size: 12px !important;
color: #000 !important;
font-weight: 600 !important;
letter-spacing: 1px !important;    
}
.inclusive_of_alltaxes
{
width: 50% !important;
height: auto !important;
float: left !important;    
}
.order_product_price i
{
font-size:10px !important;    
font-weight: 300 !important;    
}
.shipped_to
{
width:100%;
height: auto;
float: left;
margin:10px 0px 10px 0px !important;
}
.track_orderbtn {
width: 100%;
height: auto;
float: left;
margin: 20px 0px 0px 0px !important;
}
.tracking_order_sec {
width: 100%;
height: auto;
float: left;
margin: 140px 0px 30px 0px !important;
}
.ordered_item_img
{
margin: 30px 0px 10px 0px !important;    
}
.tracking_content span
{
font-size: 10px !important;    
}
.cancel_item_sec {
width: 100%;
height: auto;
float: left;
text-align: center;
margin: 135px 0px 30px 0px !important;
}
.cancel_item_content
{
font-size:12px !important;    
}
.order_details_contain {
width: 100%;
height: auto;
float: left;
margin: 135px 0px 30px 0px !important;
}
.ordered_dt
{
font-size: 10px !important;     
}
.ordered_id
{
font-size: 10px !important;     
}
.seprator {
width: auto;
height: auto;
float: left;
margin: 0px 10px;
position: relative !important;
top: -3px !important;
}
.dd-a span {
color: #000 !important;
font-size: 12px !important;
}
.shipping_details_box_subtxt
{
font-size:11px !important;    
}
.shipping_details_box_hdtxt
{
margin: 10px 0px 8px 0px;    
}
.order_summary ul li
{
font-size:11px !important;    
}
.order_details_contain div.order_item
{
margin:0px 0px 20px 0px !important;     
}
.rate_your_reviewtxt {
width: 100%;
height: auto;
float: left;
color: #000;
letter-spacing: 0.8px;
font-size: 10px !important;
font-weight: 300;
margin: 14px 0px 0px 0px !important;
}
.write_order_review {
width: 330px !important;
margin-top: 5% !important;
}
.order_item_name a
{
font-size:11px !important;   
}
.orders_placed, .cancel_orders_sec
{
margin:20px 0px 0px 0px !important;    
}
/* Order end */


/* Customer Invoice */
.customer_invoice_bdy {
width: 90% !important;
height: auto !important;
float: left !important;
padding: 0px;
margin: 0px 5%;
}
.customer_invoice_bdy header
{
padding: 10px 0;
margin-bottom: 20px;   
}
.customer_invoice_bdy #logo
{
width: 100%;
height: auto;
float: left;
margin: 0px 0px 10px 0px !important;    
}
h2.name {
font-size:13px !important;
margin: 0;
font-weight: 800;
letter-spacing: 0.5px !important;
margin: 0px 0px 4px 0px !important;
}
#invoice h1 {
color: #0087C3 !important;
font-size:17px !important;
line-height: auto;
font-weight: normal;
margin:9px 0px 3px 0px;
}
.customer_invoice_bdy table
{
width: 100%;
height: auto;
float: left;    
}
.customer_invoice_bdy table thead
{
width: 100%;
}
#client {
width: 100%;
height: auto;
float: left;
}
#invoice {
width: 100%;
height: auto;
float: right;
text-align: right;
line-height: 19px;
}
.no
{
font-size:10px !important;    
}
table .desc
{
font-size:10px !important;    
}
table .unit
{
font-size:10px !important;    
}
table .qty
{
font-size:10px !important;    
}
table .total
{
font-size:10px !important;    
}
table td h3
{
font-size:10px !important;    
}
table td.unit, table td.qty, table td.total
{
font-size:10px !important;    
}
.customer_invoice_bdy footer
{
color: #777777;
width: 100%;
height: 30px;
position: relative;
bottom: 0;
border-top: 1px solid #AAAAAA;
padding: 8px 0px 30px 0px;
text-align: center;
}
#thanks {
font-size: 2em !important;
margin-bottom: 10px !important;
}
#notices .notice {
font-size: 12px;
}
/* Customer Invoice End */




/* Order Details */
.write_order_review {
width: 93% !important;
margin-top: 5% !important;
}
/* Orde Details End */


/* Order Successful */
.cart_order_confirm_contain
{
display:none;    
}
.mobile_cart_order_confirm
{
display:block !important;    
}
/* Order Successful end */

.delivery_pincodesec i {
margin: 0px 4px 0px 0px;
font-size: 18px;
width: auto;
height: 28px;
float: left;
}
.delivery_pincodesec span {
width: auto;
height: auto;
float: left;
color: #DF3338 !important;
letter-spacing: 0.7px;
font-size: 10px;
}
.sidebarIconToggle
{
top: -30px;
left: -8px;
height: 24px;
width: 26px;
background-color: #e90410;
padding: 4px 3px 4px 3px;   
}
#big-img
{
display:none;    
}
.show
{
height:auto !important;    
}
.grainva_nav
{
display:none;
}
.grainva_btns
{
display:none;
}
.inner_header
{
padding:8px 0px 5px 0px;  
background-color:#FEBD69 !important;
}
.grainva_banner_img1, .grainva_banner_img2, .grainva_banner_img3, .grainva_banner_img4
{
display:none;
}
.foot_left {
width: 100%;
height: auto;
float: left;
text-align: center;
font-size: 8px;
}
.foot_right {
width: 100%;
height: auto;
float: left;
text-align: center;
}
.res_bes_enq
{
display:block;
margin:0px 0px 30px 0px;
}
.nutri_con
{
margin: 15px 0px 0px 0px;
}
.order_product
{
width:100%;
height:200px;
float:left;
}
.table
{
width:100%;
height:auto;
float:left;
}
.diabetic_bg {
width: 100%;
height:550px;
float: left;
background:0px;
}
.fitnesscare_bg
{
background:0px;
}
.nospc
{
padding:0px;
}
.business_enquiry_side_menu
{
display:none;
}
.res_empty
{
padding:0px !important;
}
.pagewrapper
{
width:100%;
padding:0px;
margin:0px !important;
overflow-x:hidden;
position:relative;
z-index:1;
overflow: hidden;
}
.wishlist_container {
width: 100%;
height: auto;
float: left;
margin: 105px 0px 0px 0px !important;
}
.product_name
{
width: 100%;
height: auto;
float: left;
text-align:center;
}
.product_detailtxt
{
width: 100%;
height: auto;
float: left;
text-align:center;
margin: 0px 0px 20px 0px;
}
.product_detail_bdy {
width: 100%;
height: auto;
float: left;
margin: 125px 0px 35px 0px !important;
}
.desk_view_product_details
{
display:none;    
}
.mobile_view_product_details
{
display:block;    
}


/* product detail page product image */
.csSlideOuter {
overflow: hidden;
}
.lightSlider:before, .lightSlider:after {
content: " ";
display: table;
}
.csSlideWrapper > .lightSlider:after {
clear: both;
}
.csSlideWrapper .csSlide {
-webkit-transform: translate(0px, 0px);
-ms-transform: translate(0px, 0px);
transform: translate(0px, 0px);
-webkit-transition: all 1s;
transition: all 1s;
-webkit-transition-duration: inherit;
transition-duration: inherit;
-webkit-transition-timing-function: inherit;
transition-timing-function: inherit;
}
.csSlideWrapper .csFade {
position: relative;
}
.csSlideWrapper .csFade > * {
position: absolute !important;
top: 0;
left: 0;
z-index: 9;
margin-right: 0;
width: 100%;
}
.csSlideWrapper.usingCss .csFade > * {
opacity: 0;
-webkit-transition-delay: 0s;
transition-delay: 0s;
-webkit-transition-duration: inherit;
transition-duration: inherit;
-webkit-transition-property: opacity;
transition-property: opacity;
-webkit-transition-timing-function: inherit;
transition-timing-function: inherit;
}
.csSlideWrapper .csFade > *.active {
z-index: 10;
}
.csSlideWrapper.usingCss .csFade > *.active {
opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.csSlideOuter .csPager.cSpg {
margin: 10px 0 0;
padding: 0; 
text-align: center;
}
.csSlideOuter .csPager.cSpg > li {
cursor: pointer;
display: inline-block;
padding: 0 5px;
list-style-type: none;
}
.csSlideOuter .csPager.cSpg > li a {
background-color: #222222;
border-radius: 30px;
display: inline-block;
height: 8px;
overflow: hidden;
text-indent: -999em;
width: 8px;
position: relative;
z-index: 99;
-webkit-transition: all 0.5s linear 0s;
transition: all 0.5s linear 0s;
}
.csSlideOuter .csPager.cSpg > li:hover a, .csSlideOuter .csPager.cSpg > li.active a {
background-color: #428bca;
}
.csSlideOuter .media {
opacity: 0.8;
}
.csSlideOuter .media.active {
opacity: 1;
}
/* End of pager */

/** Gallery */
.csSlideOuter .csPager.cSGallery {
list-style: none outside none;
padding-left: 0;
margin: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.csSlideOuter .csPager.cSGallery li {
opacity: 0.7;
-webkit-transition: opacity 0.35s linear 0s;
transition: opacity 0.35s linear 0s;
padding: 4px !important;
}
.csSlideOuter .csPager.cSGallery li.active, .csSlideOuter .csPager.cSGallery li:hover {
opacity: 1;
}
.csSlideOuter .csPager.cSGallery img {
display: block;
height: 90px !important;
max-width: 100%;
width: 90px !important;
float: left !important;
}
.csSlideOuter .csPager.cSGallery:before, .csSlideOuter .csPager.cSGallery:after {
content: " ";
display: table;
}
.csSlideOuter .csPager.cSGallery:after {
clear: both;
}
/* End of Gallery*/

/* slider actions */
.csAction
{
height:250px;    
}
.csAction > a {
width: 32px;
display: block;
top: 50%;
height: 32px;
background-image: url('../img/controls.png');
cursor: pointer;
position: absolute;
z-index: 99;
margin-top: -16px;
opacity: 0.5;
-webkit-transition: opacity 0.35s linear 0s;
transition: opacity 0.35s linear 0s;
}
.csAction > a:hover {
opacity: 1;
}
.csAction > .csPrev {
left: 10px;
font-size: 30px;
color: #FFF;
background: #000;
text-align: center;
}
.csAction > .csNext {
font-size: 30px;
color: #FFF;
background: #000;
text-align: center;
right: 10px;
}
.cS-hidden {
height: 1px;
opacity: 0;
filter: alpha(opacity=0); 
overflow: hidden;
}
ul{
list-style-type: none;
}
#lightSlider {
padding: 0;
margin: 0 0 9px 0;
height:250px;
float: left;
}
#lightSlider li
{
padding:0px 10px;    
}
.mobile_wishlistbtn
{
display:block !important; 
display: block;
width: auto;
float: left;
height: auto;
margin: 20px 0px 0px 0px;
}
.wishlistbtn
{
display:none !important;    
}
.mobile_wishlistbtn a
{
background-color: #DF3338;
border: 1px solid #DF3338;
color: #fff;
font-size: 12px;
letter-spacing: 0.5px;
padding: 9px 13px;
border-radius: 5px;
font-weight: 300;
}
.mobile_wishlistbtn a:hover
{
background-color:transparent;
color:#DF3338;
text-decoration:none;

}
/* product detail page product image end */





.nutri_img 
{
width: 100%;
height:250px;
float: left;
background-image: url(../images/diabetic-nurti.png);
background-repeat: no-repeat;
background-position: left;
}
#lightSlider li img
{
width: 100%;
height: 250px;    
}
.txtarea_field {
width: 100%;
height:180px;
float: left;
}
.call_us, .call_us_content
{
display:none;
}
.overview 
{
width: 100%;
height: auto;
float: left;
text-align: center;
}
.vission
{
width: 100%;
height: auto;
float: left;
text-align: center;
}
.common_multi_grainimg1, .common_multi_grainimg2, .common_multi_grainimg3, .common_multi_grainimg4, .common_multi_grainimg5, .common_multi_grainimg6, .common_multi_grainimg7, .common_multi_grainimg8, .common_multi_grainimg4a, .common_multi_grainimg4b
{
display:none;
}
.common_multi_grainimg6
{
display:none;
}
.highs_lows_bldsugar
{
width: 100%;
height: auto;
float: left;
background-color: #eee;
padding: 15px 15px;
margin:20px 0px 0px 0px;
}
.hg_bld_sugar_img
{
background-size: contain;
}
.product_contn
{
width: 100%;
height: auto;
float: left;
position:relative;
}
.product_container_img
{
background:none;
height:auto;
padding:0px;
}
.product_container_img2
{
background:none;
height:auto;
padding:0px;
}
.product_container_img3
{
background:none;
height:auto;
padding:0px;
}
.product_img3, .product_img1 
{
width: 100%;
height: 150px;
float: left;
}
.detail_product_img1
{
width: 100%;
height: 155px;
float: left;
margin:0px;
}
.products_health_tips_banner 
{
width: 100%;
height: 220px;
float: left;
background-size:cover;
}
.products_health_tips_banner:after
{
width: 100%;
height: 220px;
}
.responsive_tabs
{
display:block;
}
.responsive_tabs select
{
width: 100%;
height:auto;
float: left;
border:1px solid #111;
padding:8px 10px;
outline:none;
font-size:14px;
font-weight: 300;
color: #111;
letter-spacing: 0.5px;
}
.responsive_tabs select:hover
{
cursor:pointer;
}
.normal_tabs
{
display:none;
}
.blood_sugar_chart_hdtxt
{
font-size:19px;
}
.blood_sugar_chart img
{
width: 20%;
height: auto;
float: left;
margin: 10px 40%;
}
.sugar_level1
{
height:48px;
}
.sugar_level1a
{
height:48px;
}
.sugar_level2
{
height:65px;
}
.sugar_level2a
{
height:65px;
}
.sugar_info 
{
width: 100%;
height: auto;
float: left;
margin: 30px 0px 30px 0px;
}
.sugar_infographic_img
{
width: 100%;
background-size: 111% 103%;
}
.bld_sugar_hdtxt
{
margin:0px;
}
.bld_glucose
{
height:315px;
background-size:contain;
margin:0px;
}
.conseq_high_blood_hdtxt 
{
width: 100%;
height: auto;
float: left;
text-align:center;
}
.wht_is_diabetic 
{
width: 100%;
height: 500px;
float: left;
background-size:100% 100%;
}
.manage_weight_sec {
width: 100%;
height: auto;
float: left;
background-color: #efefef;
padding: 10px;
}
.manage_weight_img
{
background-size: 100% 100%;
}
.tip1
{
width:100%;
height: 130px;
float: left;
background-size: 100% 86%;
margin: 0px 0px 0px 0px;
}
.tip2
{
width:100%;
height: 130px;
float: left;
background-size: 100% 86%;
margin: 0px 0px 0px 0px;
}
.tip3
{
width: 100%;
height: 130px;
float: left;
background-size: 100% 86%;
margin: 0px 0px 0px 0px;
}
.tip4
{
width: 100%;
height: 130px;
float: left;
background-size: 100% 86%;
margin: 0px 0px 0px 0px;
}
.how_to_eat_better_img1, .how_to_eat_better_img2, .how_to_eat_better_img3, .how_to_eat_better_img4, .how_to_eat_better_img5, .how_to_eat_better_img6
{
margin: 0px 0px 30px 0px;
}
.right_arr
{
display:none;
}
.down_arr
{
display:block;
}
.down_arr i
{
margin:10px 0px 0px 0px;
font-size: 30px;
}
.enjoy_content 
{
width: 100%;
height: auto;
float: left;
font-size: 14px;
color: #111;
line-height: 20px;
letter-spacing: 0.7px;
font-weight: 300;
text-align: center;
margin: 20px 0px 10px 0px;
}
.how_to_eat_highlights {
width: 40%;
height: 85px;
float: left;
font-size: 14px;
color: #fff;
letter-spacing: 0.7px;
font-weight: 800;
text-align: center;
background-color: #E90410;
border-radius: 50%;
margin: 0px 30% 25px 30%;
padding: 20px 0px 0px 0px;
box-shadow: 0px 0px 5px 1px #ccc;
}
.cho_tip1, .cho_tip2, .cho_tip3, .cho_tip4, .cho_tip5  
{
width: 50%;
height: 150px;
float: left;
background-size:100% 100%;
}
.control_cholesterol_sec 
{
width: 100%;
height: auto;
float: left;
margin:20px 0px 0px 0px;
padding:0px;
}
.control_cholesterol_img
{
background-size: 100% 100%;
}
.eat_better_sec
{
width: 100%;
height: auto;
float: left;
margin:20px 0px 0px 0px;
padding:0px;
}
.eat_tip1, .eat_tip2, .eat_tip3, .eat_tip4
{
width: 50%;
height: 145px;
float: left;
background-size: 100% 100%;
}
.grainva_shopping {
width: 100%;
height: auto;
float: left;
margin:90px 0px 30px 0px;
}
.grainva_shopping  div.container
{
padding:0px !important;    
}
.productlist_displaysec
{
padding:0px 0px 0px 0px !important;     
}
.pro_sortlist ul li
{
font-size:10px !important; 
margin: 0px 10px 6px 0px !important;
}
.product_sort_frm {
width: auto !important;
height: auto !important;
float: right !important;
position: relative !important;
top: 0px !important;
margin: 0px 0px 10px 0px !important;
}
.pro_displaysec_list ul li {
width: 47% !important;
height:255px  !important;
float: left;
list-style: none;
border: 1px solid #eee;
margin: 0px 2% 2% 1%;
border-radius: 5px;
background-color: #f9f9f9;
}
.productlist_displaysecbx {
width: 100%;
height: auto;
float: left;
padding:5px;
border-right: 0;
border-left: 0;
}
.productlist_displaysec_bximg img {
max-width: 100%;
max-height: 100%;
margin: 0 auto;
padding: 15px 8px 0px 8px;
}
.bx_pro_imgprice i {
font-size: 11px !important;
}
.bx_pro_imgprice
{
font-size: 13px !important;
margin: 0px 0px 7px 0px !important;
}
.shop_list_addbtn a
{
font-size: 10px !important;    
}
.bx_pro_imgprice span
{
font-size: 13px !important;
}
.unit_sold, .pro_delivery_todt
{
font-size:9px !important;    
}
.productlist_displaysec_bximg
{
width: 100%;
height:110px !important;
float: left;    
}
.productlist_displaysec_bximg img {
max-width: 100%;
max-height: 100%;
margin: 0 auto;
padding:0px 7px !important;
}
.grainvacart_btn {
width: auto;
height: auto;
float: right;
margin:0px 0px 0px 0px;
}
#grainva_products_sortby, #grainva_products
{
display: block;
background-color: transparent !important;
border: 1px solid #eee !important;
border-radius: 5px !important;    
}
.add_total_pay div.inclusive_of_alltaxes
{
width:100% !important;    
}
.product_sort_frm select {
width: 38% !important;
margin: 0px 0px 0px 5px !important;
float: right !important;
padding:2px 0px !important;
font-size: 11px !important;
}
.pincode_subbtn button:hover
{
background-color:transparent !important;
color:#e90410 !important;
}
.pro_sortlist
{
display:none;    
}
.pro_nametxt
{
width: auto !important;
margin:1px 0px 5px 0px !important;  
font-size:10px !important;
}
.res_shop
{
width: auto;
height: auto;
float: left;   
display:none;
}

.res_shop a
{
font-size: 13px !important;
margin: 0px 11px 0px 0px;
background-color: red !important;
padding: 5px 18px;
color: #fff !important;
border-radius: 5px !important;    
}
.add_cartbaglist li div.rightnopad
{
padding: 0px 0px 0px 15px !important;    
}
.add_cartbagimg img
{
height:auto !important;    
}
.add_cartbagitem_disc p {
margin: 0px 0px -5px 0px !important;
font-weight: bold !important;
}
.add_display_area p label {
width: auto;
height: auto;
float: left;
margin: 0px !important;
}
.add_cartbagitem_disc
{
width: auto !important;
margin:2px 0px 0px 5px !important;
}
.our_major_products_hdtxt
{
display:none;    
}
.our_rangeof_products_hdtxt
{
width: 100%;
height: auto;
float: left;
font-size: 12px;
font-weight:bold;
color: #000;
text-align:center;
letter-spacing: 0.7px;
margin: 10px 0px 15px 0px;
padding: 10px 0px 5px 0px;
}
.inx_slider_hdtxt {
width: 100%;
height: auto;
float: left;
font-size: 12px !important;
font-family: 'Poppins' !important;
font-weight: bold !important;
color: #000;
letter-spacing:1px !important;
margin: 10px 0px 5px 0px;
padding: 10px 0px 5px 0px;
border:none !important;
}
#choose_pincode
{
padding:0px !important;    
}
.raof_addtocart_btn a
{
font-size:11px !important;    
}
.errormsg
{
text-align: left;    
}
.bx_pro_imgname
{
height:35px !important;    
font-size: 10px !important;
letter-spacing: 0.2px !important;
}
.product_namefull {
width: 100%;
height: auto;
float: left;
font-size: 13px;
color: #000;
margin: 0px 0px 6px 0px;
padding: 0px;
}
.cv_certified {
font-size: 8px!important;
color: #000;
font-weight: 300;
margin:7px 0px 15px 0px;
}
.product_namefull_title {
width: 100%;
height: auto;
float: left;
font-size: 10px;
color: #E90410;
margin: 14px 0px 0px 0px;
padding: 0px;
}
.details {
font-size: 12px;
}
.mrpprice {
font-size: 17px;
color: #111;
margin-right: 5px;
}
.incl_gst {
font-size: 11px;
color: #111;
letter-spacing: 1px;
}
.verified {
background-color: #DF3338;
color: #fff;
padding: 5px 5px;
border-radius: 10px;
margin-left: 16px;
margin-right: 5px;
font-size: 10px;
}
.cv_certified img {
margin-top: -7px;
position: absolute;
width: 29px;
}
.delivery {
font-size: 12px;
}
#check_pincode_form {
width: 100%;
height: 45px;
float: left;
}
.facilities
{
font-size:8px !important;    
}
.cartbtn {
padding: 10px 10px;
margin-right: 5px;
font-size: 12px !important;
text-align: center !important;
letter-spacing: 0.5px;
border:1px solid #6b6b6b !important; 
}
.cartbtn:hover
{
background-color:transparent;
color:#6b6b6b;
}
.wishlistbtn {
width: auto !important;
height: auto !important;
float: left !important;
margin: 10px 10px 0px 0px !important;
}
.buynow_btn {
width: auto;
height: auto;
float: left;
padding: 5px 30px;
color: #fff;
background-color: #058ac9;
border-radius: 3px;
font-size: 9px;
margin: 0px 0px 0px 0px;
}
.addto_cartbt {
padding: 0px 10px 0px 0px !important;
margin: 0px 0px 0px 0px !important;
}
.addtocart_btn
{
width: 85%;
float: left !important;
margin: 10px 0px 17px 8px !important;   
}
.product_final_price
{
    
}
.small-container .show-small-img
{
border: none !important;    
}
.addto_cartbt {
width:49%;
height: auto;
float: left;
margin: 0px 5px 12px 0px;
}
.bynw {
width: 49%;
height: auto;
float: left;
}
.bynw a
{
text-align: center;
width: 100%;
height: auto;
float: left;
border:1px solid #058ac9 !important;
padding: 10px 10px;
font-size: 12px;
letter-spacing: 0.5px;
color:#fff;
}
.bynw a:hover
{
background-color:transparent;
color:#058ac9;
}
.enterpincode {
border: none;
border-bottom: 1px solid #448aff;
padding: 4px 0px;
width:151px;
outline: none;
font-size:10px;
letter-spacing: 0.5px;
}
.pincheck {
border: 1px solid #DF3338;
padding: 5px 20px;
color: #DF3338;
margin-left: 5px;
background-color: #fff;
font-size: 11px;
}
.items_shw_perpage {
width: auto;
height: auto;
float: left;
margin: 0px 0px 25px 10px;
}
.items_shw_perpage label
{
font-size:10px !important;    
}
.items_shw_perpage form select
{
font-size: 10px !important;    
padding: 1px 2px !important;    
}
.productlist_pagination {
width: 100%;
height: auto;
float: left;
margin: 15px 0px 20px 0px !important;
}
.total_pro_items
{
font-size: 10px !important;    
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover
{
font-size: 10px !important;    
}
.pagination>li>a, .pagination>li>span
{
padding: 0px 5px !important; 
font-size: 10px !important;  
}

.forget_pw_formbx {
width: 90% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
background-color: #fff;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.forget_pw_otp_form {
display: none;
width: 90% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
background-color: #fff;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.new_pw_form {
display: none;
width: 90% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
background-color: #fff;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.thankyou_form {
display: none;
width: 90% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
background-color: #fff;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/*.choose_delivery_location
{
width:100% !important;
height: auto !important;
float: left !important;
padding: 15px 15px 15px 15px !important;
margin:0px 0px 0px 0px !important;
position: fixed;
transform: translate(-50%, -50%);    
}*/
.modal-dialog
{
width:94% !important;
height: auto;
float: left; 
top:2% !important;
}

}